:root {
  --fuente-principal: "Plus Jakarta Sans", sans-serif;
  --color-texto: #1b2d52;
  --color-suave: #4a5568;
  --bg-fondo: #f8fafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fuente-principal);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-texto);
  background-color: var(--bg-fondo);
  display: grid;
  height: 100dvh;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: 800;
  letter-spacing: -0.03em;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d0e0ff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

nav {
  margin: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
}

button {
  font-family: var(--fuente-principal);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  padding: 0.2rem 0.8rem;
  border: none;
  border-radius: 5px;
  background: white;
  transition: all 0.3s ease;

  &:disabled {
    background: #cbd5e1;
    color: #94a3b8;
    border-color: #cbd5e1;
    cursor: not-allowed;
    opacity: 0.7;
  }
}

button:hover {
  background: var(--color-texto);
  color: white;
}

#main-content {
  height: 100%;
  min-height: 0;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1rem;
}

.card {
  flex-grow: 1;
  background-color: #aac6ff;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.level-text {
  display: flex;
  gap: 0.5 rem;
  align-items: center;
}

.info-level {
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 0.4rem;
}

.session-btn {
  margin-top: 1rem;
}

footer {
  background-color: #d0e0ff;
  height: 2rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
